body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

header{
    background-color: darkgray;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.sumpah {
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

img {
    width: 50%;
    height: auto;
}

.logo {
    width: 3%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid black;
  }